.header{
 color:brown;
 font-style:italic;
 text-align:center;
 padding:30px;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size:30px;
}